body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #A0A0A0;
}

#todo-input {
    margin-bottom: 20px;
    border-radius: 5px;
}

#todo-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#todo-table th,
#todo-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#todo-table th {
    background-color: #f4f4f4;
}

#todo-list li:hover {
    background-color: white;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.delete-btn:hover {
    color: darkred;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    margin-top: 20px;
}

.character-card {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: whitesmoke;
}

.character-card img {
    width: 100%;
    border-radius: 5px;
}

#api-btn {
    display: inline-block;
    padding: 10px 20px;
    background: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#back-nav {
    display: inline-block;
    padding: 10px 20px;
    background: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#load-characters-rest {
    margin-top: 20px;
}